# Python
__pycache__/
*.py[cod]
*.py
*.pyc

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary
*.tmp
*.bak
~$*
notebooks/charts/

# Submission folder (local only, not pushed)
submission/
